.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* custom bootstrap styling */

.card {
  margin-bottom: 1em;
  margin-top: 1em;
}




/* BAR CHART - d3 and svg styling  */
.bar:hover {
  fill: black;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 1em;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.tick text {
  fill: #635F5D;
  font-size: 1em
}

.tick line {
  stroke: #C0C0BB;
}

text.axis-label {
  fill: #8E8883;
  font-size: 2.5em;
}

text.title {
  fill: #635F5D;
  font-size: 2.75em;
}

text.subtitle {
  fill: #635F5D;
  font-size: 1.5em;
}




/* WORLS MAP: d3 map css */
body {
  margin: 0px;
  overflow: hidden;
}

.sphere {
  fill: #4242e4;
}

.country {
  fill: lightgreen;
  stroke: black;
  stroke-width: 0.05
}

.country:hover {
  fill: red
}











